menu "GPIO Configuration"
    config SWITCH_1
        int "GPIO Pin for switch 1"
        default 13
        help
            The GPIO pin number for the switch 1. Default is 13.
    config SWITCH_2
        int "GPIO Pin for switch 2"
        default 14
        help
            The GPIO pin number for the switch 2. Default is 14.
    config SWITCH_3
        int "GPIO Pin for switch 3"
        default 0
        help
            The GPIO pin number for the switch 3. Default is 0 as in not set.
    config SWITCH_4
        int "GPIO Pin for switch 4"
        default 0
        help
            The GPIO pin number for the switch 4. Default is 0 as in not set.
    config SWITCH_5
        int "GPIO Pin for switch 5"
        default 0
        help
            The GPIO pin number for the switch 5. Default is 0 as in not set.
    config SWITCH_6
        int "GPIO Pin for switch 6"
        default 0
        help
            The GPIO pin number for the switch 6. Default is 0 as in not set.
    config SWITCH_7
        int "GPIO Pin for switch 7"
        default 0
        help
            The GPIO pin number for the switch 7. Default is 0 as in not set.
    config SWITCH_8
        int "GPIO Pin for switch 8"
        default 0
        help
            The GPIO pin number for the switch 8. Default is 0 as in not set.
endmenu